@{
    ViewData["Title"] = "Home Page";
}

<div class="container"> 
    <div class="target-panel">
        <target-component></target-component>
    </div>
    <div class="score-panel">
        <darts-on-board-component></darts-on-board-component>
    </div>
</div>
